@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Onest Variable', sans-serif;
    @apply h-screen;
}

.warp-tab {
    @apply w-40 text-sm text-center py-2 hover:bg-teal-900 hover:bg-opacity-40
}

.cyber-wave-theme {
    @apply bg-gradient-to-b from-[#002631] to-[#000201];
}

.animate-blink {
    animation: blink 2s linear infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}