@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Onest Variable', sans-serif;
    @apply h-screen;
}

.cyber-wave-theme {
    @apply bg-gradient-to-b from-[#002532] to-[#000101];
}

.warp-tab {
    @apply w-40 text-sm text-center py-2 hover:bg-teal-900 hover:bg-opacity-40
}

.warp-username {
    @apply text-[#B4FA72];
}

.warp-directory {
    @apply text-[#FF8FFD];
}

.selected-section {
    @apply bg-gradient-to-r from-[#027972]/30 via-[#3C3E80]/30 to-[#7A028F]/30;
}

.prompt-section {
    @apply flex flex-col gap-1 p-4 border-t border-t-gray-800;
}

.markdown h1 {
    @apply pb-2 font-bold;
}

.animate-slide-in {
    animation: slide-in 0.6s ease-out both;
}

@keyframes slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

.animate-blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}