---
import { getRelativeLocaleUrl } from "astro:i18n";

import Warp from "@/assets/Warp.astro";
import Github from "@/assets/Github.astro";
import Settings from "@/assets/Settings.astro";

const pathname = new URL(Astro.request.url).pathname;

const routes = [
    { path: "/", label: "/home" },
    { path: "/experience/", label: "/experience" },
    { path: "/projects/", label: "/projects" },
    { path: "/contributions/", label: "/contributions" },
    { path: "/contact/", label: "/contact" },
];

const isActive = (routePath: string) => {
    return pathname === routePath || pathname === `/es${routePath}`;
};
---

<nav class="flex justify-between text-white border-b border-b-gray-800 overflow-auto">
    <ul class="flex items-center">
        <div class="px-4">
            <Warp />
        </div>
        {
            routes.map(({ path, label }) => (
                <a
                    href={path}
                    class={isActive(path) ? "warp-tab active" : "warp-tab"}
                >
                    {label}
                </a>
            ))
        }
    </ul>
    <div class="flex items-center gap-4 px-4">
        <a
            href={getRelativeLocaleUrl("es")}
            class="text-sm font-semibold hover:scale-110"
        >
            EN
        </a>
        <a
            href="https://github.com/MarcosKlender/WarpPortfolio"
            target="_blank"
            aria-label="Github Repository"
            class="hover:scale-110"
        >
            <Github />
        </a>
        <Settings />
    </div>
</nav>
