---
import Header from "@/components/Header.astro";
---

<main class="flex flex-col justify-between h-full">
    <Header />
    <section class="flex flex-col p-4 gap-1 border-t-2 border-t-gray-800">
        <h1 class="text-pink-400 font-bold text-lg">/home</h1>
        <p class="text-gray-400">
            Welcome to Warp Portfolio, by MarcosKlender.
        </p>
    </section>
</main>
