---
import Header from "@/components/Header.astro";
const { title } = Astro.props;
const executionTime = (Math.random() * (0.999 - 0.001) + 0.001).toFixed(3);
---

<script>
    document.addEventListener("click", (e) => {
        const firstSection = document.querySelector("section:first-of-type");
        if (!firstSection) return;

        const isClickInside = firstSection.contains(e.target as Node);
        firstSection.classList.toggle("bg-teal-900", isClickInside);
        firstSection.classList.toggle("bg-opacity-40", isClickInside);
    });
</script>

<main class="flex flex-col justify-between h-full">
    <Header />
    <article>
        <section class="prompt-section transition-colors cursor-pointer">
            <h1 class="text-gray-400">{title} ({executionTime}s)</h1>
            <div class="text-white leading-relaxed markdown">
                <slot />
            </div>
        </section>

        <section class="prompt-section">
            <h1 class="text-pink-400 font-bold">{title}</h1>
            <p class="text-gray-600">
                <span class="border-l-2 animate-blink"></span>
                Try visiting other tabs instead of a command
            </p>
        </section>
    </article>
</main>
