---
import "@fontsource-variable/onest";
import "src/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#002532" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Warp Portfolio</title>
	</head>
	<body class="cyber-wave-theme">
		<slot />
	</body>
</html>
