<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Warp Portfolio</title>
	</head>
	<body class="bg-gradient-to-b from-[#002631] to-[#000201] h-screen flex flex-col justify-between">
		<slot />
	</body>
</html>
