---
import "src/styles/global.css";

import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#002532" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Warp Portfolio</title>
		<link rel="preload" as="font" type="font/woff2" href="/fonts/onest-variable.woff2" crossorigin="anonymous" />
	</head>
	<body class="cyber-wave-theme">
		<slot />
	</body>
</html>
